.shop-listing {
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
}

.shop-listing_item {
    display: block;
    width: 252px;
    text-decoration: none;
    margin: 20px 20px;

    &_img_box{
        width: 100%;
        
        img {
            width: 100%;
            height: auto;
        }
    }

    &_img_box_percent {
        margin-top: -29px;
        display: block;
        padding: 5px 2px;
        width: 60px;
        background: #f9f9f9;
        z-index: 1000;
        position: relative;
        top: -8px;
        left: 8px;
        border-radius: 15px;
        text-align: center;
        color: #ba10a4;
        font-weight: bold;
        font-size: 13px;

        &::before {
            content: "-";
        }

        &::after {
            content: "%";
        }
    }

    &_text_box {
        display: flex;
        flex-direction: column;

        &_price_default {
            font-size: 25px;
            color: #000;
            font-size: 18px;
        }

        &_price_previous {
            color: #8B8B8B;
            text-decoration: line-through;
            font-size: 14px;
        }

        &_price {
            font-weight: bold;
            padding-top: 5px;
            
            > *::after {
                content: "₽";
            }
        }

        &_title {
            font-size: 14px;
            line-height: 20px;
            color: #999;
            font-weight: 400;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        &_rating {
            display: flex;

            img {
                width: 20px;
                margin: 0px 2px;
            }
        }   
        
        &_delivery {
            color: #999;
            font-size: 14px;

            strong {
                color: #000;
            }
        }

        &_flex {
            display: flex;

            &_2{
                flex-grow: 1;
                display: flex;
                justify-content: right;

                ashpbtn {
                    background: #ba10a4;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    border-radius: 5000px;
                }
            }

            &_1 {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }
    }
}